<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">

        <app-list-errors [errors]="errors"></app-list-errors>

        <form [formGroup]="comicForm">
          <fieldset [disabled]="isSubmitting">

            <fieldset class="form-group">
              <input class="form-control"
                formControlName="month"
                type="text"
                placeholder="Month" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                formControlName="num"
                type="number"
                placeholder="Num" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                formControlName="link"
                type="text"
                placeholder="Link" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                formControlName="year"
                type="text"
                placeholder="Year" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                formControlName="news"
                type="text"
                placeholder="News" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                formControlName="safe_title"
                type="text"
                placeholder="Safe title" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                formControlName="transcript"
                type="text"
                placeholder="Transcript" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                formControlName="alt"
                type="text"
                placeholder="Alt" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                formControlName="img"
                type="text"
                placeholder="Img" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                formControlName="title"
                type="text"
                placeholder="Title" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                formControlName="day"
                type="text"
                placeholder="Day" />
            </fieldset>

            <button class="btn btn-lg pull-xs-right btn-primary" type="button" (click)="submitForm()">
              Publish Comic
            </button>

          </fieldset>
        </form>

      </div>
    </div>
  </div>
</div>
